<div class="card" id="post-{{id}}">
    <img class="card-image" src="{{thumbnail}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <div id="post-link">
            <a href="/post/{{id}}" class="anchor-buttons">View Post</a>
        </div>
    </div>
</div>